@model ProductTable
<link rel="stylesheet" type="text/css" href="~/css/product-style.css">



<div class="container main">
    @ViewBag.newsname
    <h3 style="color:#0CF">@Model.Name</h3>
    <h5 style="color:#CCC">@Model.Ename</h5>
    <div class="col-md-5">
        <img src="~/@Model.Hpicture" />
    </div>
    <div class="col-md-7">
        <span class="label label-default">动作冒险</span>
        <hr/>
        <p style="color:#FFF">
            @Model.Hdiscribe
        </p>
        <hr />
        <div>
            @if (Model.Discount != 100)
            {
                <span class="game-discount">-@Model.Discount%</span>
                <span class="game-price"><s>¥@Model.Id</s></span><!--原价-->
            }  <!--Model.Discount != 100 即有折扣，不是100%off-->   
            <span class="game-price">¥@Model.Price</span>
            
        </div>
        <br />
        <br />
        <br />
        <br />
        <!--<button type="button" onclick="/Cart/AddCart/Model.ProductId" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-shopping-cart">加入购物车</span></button>--->
        <a class="btn btn-lg btn-primary" href="/Cart/AddCart/@Model.ProductId" role="button" ><span class="glyphicon glyphicon-shopping-cart">加入购物车</span></a>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-lg btn-info"><span>点击购买</span></button>
    </div>
</div>

<div class=" peizhi container">

    <div style="background-color:#333">
        <h2 style="color:#0CF">配置要求</h2>
        <hr />
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#tab-low" role="tab" data-toggle="tab">最低配置</a></li>
            <li><a href="#tab-high" role="tab" data-toggle="tab">推荐配置</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-low" >              
                @Html.Raw(Model.Clow)
            </div>
            
            <div class="tab-pane" id="tab-high" >
                @Html.Raw(Model.Chigh)                          
            </div>

        </div>
    </div>


</div>

<div class="show container" style="background-color:#333">
    <h2 style="color:#0CF">宣传截图视频</h2>
    <hr />
    <br />
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="#p1" role="tab" data-toggle="tab">截图1</a></li>
        <li><a href="#p2" role="tab" data-toggle="tab">截图2</a></li>
        <li><a href="#ygp1" role="tab" data-toggle="tab">预告片</a></li>
    </ul>

    <br />
    <div class="tab-content">

        <div class="tab-pane  active" id="p1">
            <div class="col-md-6">
                <img src="~/@Model.Spicture1" />
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-4 sdiscribe">
                @Html.Raw(Model.Sdisvribe)
            </div>
        </div>

        <div class="tab-pane" id="p2">
            <div class="col-md-6">
                <img src="~/@Model.Spicture2" />
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-4 sdiscribe">
                @Html.Raw(Model.Sdisvribe)
            </div>
        </div>

        <div class="tab-pane" id="ygp1">
            <div class="col-md-6">
                <video src="@Model.Svideo" width:610px height:343px controls>
                    
                    Your browser does not support the video tag.Your browser does not support the video tag.
                </video>            
            </div>

            <div class="col-md-1">

            </div>
            <div class="col-md-4 sdiscribe">
                @Html.Raw(Model.Sdisvribe)
            </div>
        </div>

    </div>

</div>

   